<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>9C421F62-C7C0-4F87-A463-66FC74D0E7CD</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.a</key>
			<integer>3</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
