variables:
  UV_CACHE_DIR: .uv-cache

default:
  image: "registry.fedoraproject.org/fedora:latest"
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR
  artifacts:
    paths:
      - build/meson-dist
      - prebuilt/*.otf
    expire_in: 7 days
  before_script:
    - dnf install -y git-core libappstream-glib-devel gettext uv
  after_script:
    - uv cache prune --ci

build-variable:
  script:
    - uv run nox -s build_variable
    - uv run nox -s dist

build-statics:
  script:
    - uv run nox -s build_static
    - uv run nox -s dist
