build-fonts:
  image: "registry.fedoraproject.org/fedora:latest"
  variables:
    UV_CACHE_DIR: .uv-cache
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR
  before_script:
    - dnf install -y git-core libappstream-glib-devel gettext uv
  script:
    - uv run nox -s build_both
    - uv run nox -s dist
  after_script:
    - uv cache prune --ci
  artifacts:
    paths:
      - build_fonts/meson-dist/*
      - prebuilt/*.otf
    expire_in: 7 days
