variables:
  UV_CACHE_DIR: .uv-cache

default:
  image: 'registry.fedoraproject.org/fedora:latest'
  cache:
    - key:
        files:
          - requirements.txt
          - requirements-dev.txt
      paths:
        - $UV_CACHE_DIR
  artifacts:
    paths:
      - build/meson-dist
      - prebuilt/*.otf
    expire_in: 7 days
  before_script:
    - dnf install -y git-core libappstream-glib-devel gettext gcc uv

build-variable:
  script:
    - uvx nox -s build_variable
    - uvx nox -s dist

build-statics:
  script:
    - uvx nox -s build_static
    - uvx nox -s dist
