<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<array>
			<string>public.default</string>
			<string>glyphs</string>
		</array>
		<array>
			<string>public.background</string>
			<string>glyphs.public.background</string>
		</array>
		<array>
			<string>Template</string>
			<string>glyphs.T_emplate</string>
		</array>
		<array>
			<string>Dec 6 17, 10:00</string>
			<string>glyphs.D_ec 6 17, 10_00</string>
		</array>
		<array>
			<string>Mar 18 18, 20:43</string>
			<string>glyphs.M_ar 18 18, 20_43</string>
		</array>
	</array>
</plist>
