<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>64C01C6D-4425-4C5A-A047-519EF981E9DC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
