<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Template</string>
      <string>glyphs.T_emplate</string>
    </array>
    <array>
      <string>May 5 19, 13:08</string>
      <string>glyphs.M_ay 5 19, 13_08</string>
    </array>
    <array>
      <string>May 5 19, 18:34</string>
      <string>glyphs.M_ay 5 19, 18_34</string>
    </array>
  </array>
</plist>
