<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Template</string>
      <string>glyphs.T_emplate</string>
    </array>
    <array>
      <string>Outline</string>
      <string>glyphs.O_utline</string>
    </array>
    <array>
      <string>Wavy</string>
      <string>glyphs.W_avy</string>
    </array>
    <array>
      <string>Final Bent</string>
      <string>glyphs.F_inal B_ent</string>
    </array>
    <array>
      <string>Steeper</string>
      <string>glyphs.S_teeper</string>
    </array>
    <array>
      <string>Slanted</string>
      <string>glyphs.S_lanted</string>
    </array>
    <array>
      <string>May 5 19, 13:08</string>
      <string>glyphs.M_ay 5 19, 13_08</string>
    </array>
    <array>
      <string>May 5 19, 18:34</string>
      <string>glyphs.M_ay 5 19, 18_34</string>
    </array>
    <array>
      <string>Jun 8 19, 20:55</string>
      <string>glyphs.J_un 8 19, 20_55</string>
    </array>
    <array>
      <string>Jun 8 19, 20:47</string>
      <string>glyphs.J_un 8 19, 20_47</string>
    </array>
  </array>
</plist>
