@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: url(../../otf/Cantarell-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 700;
  src: url(../../otf/Cantarell-Bold.otf) format('opentype');
}
