<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EE6BF218-3EC2-4719-A13B-F6E4879C6679</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.tf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.tf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.tf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.tf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.tf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.tf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.tf</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.tf</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
