<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A3CE2618-B7B9-4EFA-A6FD-5883A4EDFA17</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
