<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DEF37A5E-EF3C-457A-9F90-2A9B95CC11C6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Shcha-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
