<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D4AE1721-94F7-4594-8DB9-C2B30AA4422E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
