<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8D21F401-7C45-49CC-BC03-4D94DFE511BF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
