<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typesupply.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>type</key>
			<string>cannedDesign</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>nbspace</string>
		<string>enquad</string>
		<string>emquad</string>
		<string>enspace</string>
		<string>emspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>sixperemspace</string>
		<string>figurespace</string>
		<string>punctuationspace</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Acaron</string>
		<string>Aringacute</string>
		<string>Adotbelow</string>
		<string>Ahookabove</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Acircumflexdotbelow</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Abrevedotbelow</string>
		<string>B</string>
		<string>Bdotaccent</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Ddotaccent</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Edotbelow</string>
		<string>Ehookabove</string>
		<string>Etilde</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Ecircumflexdotbelow</string>
		<string>F</string>
		<string>Fdotaccent</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>Gcaron</string>
		<string>Gacute</string>
		<string>Gmacron</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>Hcaron</string>
		<string>Hdotbelow</string>
		<string>Hbrevebelow</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Icaron</string>
		<string>Ihookabove</string>
		<string>Idotbelow</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>Kcaron</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>Ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>Llinebelow</string>
		<string>M</string>
		<string>Mdotaccent</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Nlinebelow</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Ohorn</string>
		<string>Ocaron</string>
		<string>Otildemacron</string>
		<string>Odotbelow</string>
		<string>Ohookabove</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ohornacute</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohorndotbelow</string>
		<string>P</string>
		<string>Pdotaccent</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>Rdotbelow</string>
		<string>Rdotbelowmacron</string>
		<string>Rlinebelow</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Uhorn</string>
		<string>Ucaron</string>
		<string>Udieresismacron</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udotbelow</string>
		<string>Uhookabove</string>
		<string>Uhornacute</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhorndotbelow</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ygrave</string>
		<string>Ydotbelow</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>Zcircumflex</string>
		<string>Zdotbelow</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>Ereversed</string>
		<string>Schwa</string>
		<string>Fhook</string>
		<string>DZcaron</string>
		<string>LJ</string>
		<string>NJ</string>
		<string>DZ</string>
		<string>Germandbls</string>
		<string>Ohm</string>
		<string>Dje-cy</string>
		<string>E-cy</string>
		<string>Dze-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Je-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Tshe-cy</string>
		<string>Dzhe-cy</string>
		<string>A-cy</string>
		<string>Abreve-cy</string>
		<string>Adieresis-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Iebreve-cy</string>
		<string>Zhe-cy</string>
		<string>Zhebreve-cy</string>
		<string>Zhedieresis-cy</string>
		<string>Ze-cy</string>
		<string>Zedieresis-cy</string>
		<string>Ii-cy</string>
		<string>Iigrave-cy</string>
		<string>Iishort-cy</string>
		<string>Imacron-cy</string>
		<string>Idieresis-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Odieresis-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Umacron-cy</string>
		<string>Udieresis-cy</string>
		<string>Uhungarumlaut-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Tse-cy</string>
		<string>Che-cy</string>
		<string>Chedieresis-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Yerudieresis-cy</string>
		<string>Softsign-cy</string>
		<string>Ereversed-cy</string>
		<string>Edieresis-cy</string>
		<string>Iu-cy</string>
		<string>Ia-cy</string>
		<string>Yat-cy</string>
		<string>Fita-cy</string>
		<string>Izhitsa-cy</string>
		<string>Gheupturn-cy</string>
		<string>Ghestroke-cy</string>
		<string>Zhedescender-cy</string>
		<string>Zedescender-cy</string>
		<string>Kadescender-cy</string>
		<string>Kabashkir-cy</string>
		<string>Endescender-cy</string>
		<string>Esdescender-cy</string>
		<string>Ustrait-cy</string>
		<string>Ustraitstroke-cy</string>
		<string>Hadescender-cy</string>
		<string>Chedescender-cy</string>
		<string>Shha-cy</string>
		<string>Palochka-cy</string>
		<string>Aie-cy</string>
		<string>Schwa-cy</string>
		<string>Schwadieresis-cy</string>
		<string>Obarred-cy</string>
		<string>Obarreddieresis-cy</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>acaron</string>
		<string>aringacute</string>
		<string>adotbelow</string>
		<string>ahookabove</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>acircumflexdotbelow</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>abrevedotbelow</string>
		<string>b</string>
		<string>bdotaccent</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>ccaron</string>
		<string>d</string>
		<string>dcaron</string>
		<string>ddotaccent</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>edotbelow</string>
		<string>ehookabove</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdotbelow</string>
		<string>f</string>
		<string>fdotaccent</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>gcaron</string>
		<string>gacute</string>
		<string>gmacron</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>hcaron</string>
		<string>hdotbelow</string>
		<string>hbrevebelow</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>iogonek</string>
		<string>icaron</string>
		<string>ihookabove</string>
		<string>idotbelow</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>jcaron</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kcaron</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>llinebelow</string>
		<string>m</string>
		<string>mdotaccent</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>nlinebelow</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>ohorn</string>
		<string>ocaron</string>
		<string>otildemacron</string>
		<string>odotbelow</string>
		<string>ohookabove</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdotbelow</string>
		<string>ohornacute</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohorndotbelow</string>
		<string>p</string>
		<string>pdotaccent</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
		<string>rdotbelow</string>
		<string>rdotbelowmacron</string>
		<string>rlinebelow</string>
		<string>s</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
		<string>tdieresis</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>uhorn</string>
		<string>ucaron</string>
		<string>udieresismacron</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udotbelow</string>
		<string>uhookabove</string>
		<string>uhornacute</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhorndotbelow</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ydotaccent</string>
		<string>ygrave</string>
		<string>ydotbelow</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>zcircumflex</string>
		<string>zdotbelow</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>eth</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>thorn</string>
		<string>dcroat</string>
		<string>hbar</string>
		<string>idotless</string>
		<string>ij</string>
		<string>kgreenlandic</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>napostrophe</string>
		<string>eng</string>
		<string>oe</string>
		<string>tbar</string>
		<string>dzcaron</string>
		<string>lj</string>
		<string>nj</string>
		<string>eturned</string>
		<string>dz</string>
		<string>jdotless</string>
		<string>schwa</string>
		<string>pi</string>
		<string>a-cy</string>
		<string>abreve-cy</string>
		<string>adieresis-cy</string>
		<string>be-cy</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>iebreve-cy</string>
		<string>zhe-cy</string>
		<string>zhebreve-cy</string>
		<string>zhedieresis-cy</string>
		<string>ze-cy</string>
		<string>zedieresis-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>imacron-cy</string>
		<string>idieresis-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>o-cy</string>
		<string>odieresis-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>es-cy</string>
		<string>te-cy</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>umacron-cy</string>
		<string>udieresis-cy</string>
		<string>uhungarumlaut-cy</string>
		<string>ef-cy</string>
		<string>ha-cy</string>
		<string>tse-cy</string>
		<string>che-cy</string>
		<string>chedieresis-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>hardsign-cy</string>
		<string>yeru-cy</string>
		<string>yerudieresis-cy</string>
		<string>softsign-cy</string>
		<string>ereversed-cy</string>
		<string>edieresis-cy</string>
		<string>iu-cy</string>
		<string>ia-cy</string>
		<string>dje-cy</string>
		<string>e-cy</string>
		<string>dze-cy</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>je-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>tshe-cy</string>
		<string>dzhe-cy</string>
		<string>yat-cy</string>
		<string>fita-cy</string>
		<string>izhitsa-cy</string>
		<string>gheupturn-cy</string>
		<string>ghestroke-cy</string>
		<string>zhedescender-cy</string>
		<string>zedescender-cy</string>
		<string>kadescender-cy</string>
		<string>kabashkir-cy</string>
		<string>endescender-cy</string>
		<string>esdescender-cy</string>
		<string>ustrait-cy</string>
		<string>ustraitstroke-cy</string>
		<string>hadescender-cy</string>
		<string>chedescender-cy</string>
		<string>shha-cy</string>
		<string>palochka-cy</string>
		<string>aie-cy</string>
		<string>schwa-cy</string>
		<string>schwadieresis-cy</string>
		<string>obarred-cy</string>
		<string>obarreddieresis-cy</string>
		<string>Dzcaron</string>
		<string>Lj</string>
		<string>Nj</string>
		<string>Dz</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>circumflexcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>brevecomb</string>
		<string>dotaccentcomb</string>
		<string>dieresiscomb</string>
		<string>hookabovecomb</string>
		<string>ringcomb</string>
		<string>hungarumlautcomb</string>
		<string>caroncomb</string>
		<string>commaabovecomb</string>
		<string>commaaboverightcomb</string>
		<string>horncomb</string>
		<string>dotbelowcomb</string>
		<string>dieresisbelowcomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>circumflexbelowcomb</string>
		<string>brevebelowcomb</string>
		<string>tildebelowcomb</string>
		<string>macronbelowcomb</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>hyphentwo</string>
		<string>figuredash</string>
		<string>endash</string>
		<string>emdash</string>
		<string>horizontalbar</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>exclamdouble</string>
		<string>question</string>
		<string>questiondown</string>
		<string>slash</string>
		<string>backslash</string>
		<string>fraction</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>section</string>
		<string>paragraph</string>
		<string>literSign</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>minute</string>
		<string>second</string>
		<string>tripleprime</string>
		<string>primeReversed</string>
		<string>interrobang</string>
		<string>paragraphreversed</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>divide</string>
		<string>multiply</string>
		<string>equal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>logicalnot</string>
		<string>leftArrow</string>
		<string>upArrow</string>
		<string>rightArrow</string>
		<string>downArrow</string>
		<string>partialdiff</string>
		<string>increment</string>
		<string>product</string>
		<string>summation</string>
		<string>micro</string>
		<string>divisionslash</string>
		<string>bulletoperator</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>ratio</string>
		<string>mediumBlackSmallSquare</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>euro</string>
		<string>florin</string>
		<string>rupeeIndian</string>
		<string>ruble</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>acute</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>tilde</string>
		<string>macron</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>control</string>
		<string>downArrowHead</string>
		<string>keyboard</string>
		<string>deleteLeftKey</string>
		<string>returnsymbol</string>
		<string>blank</string>
		<string>upBlackTriangle</string>
		<string>upBlackSmallTriangle</string>
		<string>rightBlackTriangle</string>
		<string>rightBlackSmallTriangle</string>
		<string>downBlackTriangle</string>
		<string>downBlackSmallTriangle</string>
		<string>leftBlackTriangle</string>
		<string>leftBlackSmallTriangle</string>
		<string>lozenge</string>
		<string>whiteCircle</string>
		<string>dottedCircle</string>
		<string>blackCircle</string>
		<string>mediumVerticalBar</string>
		<string>rightTriangleBlackArrow</string>
		<string>leftBlackArrow</string>
		<string>upBlackArrow</string>
		<string>downBlackArrow</string>
		<string>softhyphen</string>
		<string>zerowidthspace</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>uniFB00</string>
		<string>fi</string>
		<string>fl</string>
		<string>uniFB03</string>
		<string>uniFB04</string>
	</array>
</dict>
</plist>
