<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.acutecomb.loclVIET</key>
		<array>
			<string>acutecomb_dotaccentcomb</string>
		</array>
		<key>public.kern1.caroncomb.loclVIET</key>
		<array>
			<string>caroncomb_dotaccentcomb</string>
		</array>
		<key>public.kern1.dieresiscomb.loclVIET</key>
		<array>
			<string>dieresiscomb_gravecomb</string>
			<string>dieresiscomb_acutecomb</string>
			<string>dieresiscomb_caroncomb</string>
			<string>dieresiscomb_macroncomb</string>
		</array>
		<key>public.kern1.macroncomb.loclVIET</key>
		<array>
			<string>macroncomb_gravecomb</string>
			<string>macroncomb_acutecomb</string>
		</array>
		<key>public.kern1.tildecomb.loclVIET</key>
		<array>
			<string>tildecomb_dieresiscomb</string>
			<string>tildecomb_acutecomb</string>
			<string>tildecomb_macroncomb</string>
		</array>
		<key>public.kern2.acutecomb.loclVIET</key>
		<array>
			<string>acutecomb_dotaccentcomb</string>
		</array>
		<key>public.kern2.caroncomb.loclVIET</key>
		<array>
			<string>caroncomb_dotaccentcomb</string>
		</array>
		<key>public.kern2.dieresiscomb.loclVIET</key>
		<array>
			<string>dieresiscomb_gravecomb</string>
			<string>dieresiscomb_acutecomb</string>
			<string>dieresiscomb_caroncomb</string>
			<string>dieresiscomb_macroncomb</string>
		</array>
		<key>public.kern2.macroncomb.loclVIET</key>
		<array>
			<string>macroncomb_gravecomb</string>
			<string>macroncomb_acutecomb</string>
		</array>
		<key>public.kern2.tildecomb.loclVIET</key>
		<array>
			<string>tildecomb_dieresiscomb</string>
			<string>tildecomb_acutecomb</string>
			<string>tildecomb_macroncomb</string>
		</array>
	</dict>
</plist>
