<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<array>
			<string>public.default</string>
			<string>glyphs</string>
		</array>
		<array>
			<string>public.background</string>
			<string>glyphs.public.background</string>
		</array>
		<array>
			<string>Template</string>
			<string>glyphs.T_emplate</string>
		</array>
		<array>
			<string>Dec 5 17, 20:29</string>
			<string>glyphs.D_ec 5 17, 20_29</string>
		</array>
		<array>
			<string>Dec 5 17, 23:16</string>
			<string>glyphs.D_ec 5 17, 23_16</string>
		</array>
		<array>
			<string>Jan 16 18, 23:07</string>
			<string>glyphs.J_an 16 18, 23_07</string>
		</array>
		<array>
			<string>Dec 4 17, 16:22</string>
			<string>glyphs.D_ec 4 17, 16_22</string>
		</array>
		<array>
			<string>Dec 4 17, 16:24</string>
			<string>glyphs.D_ec 4 17, 16_24</string>
		</array>
		<array>
			<string>Dec 4 17, 16:29</string>
			<string>glyphs.D_ec 4 17, 16_29</string>
		</array>
		<array>
			<string>Dec 5 17, 23:39</string>
			<string>glyphs.D_ec 5 17, 23_39</string>
		</array>
		<array>
			<string>Dec 4 17, 16:23</string>
			<string>glyphs.D_ec 4 17, 16_23</string>
		</array>
		<array>
			<string>Dec 4 17, 16:27</string>
			<string>glyphs.D_ec 4 17, 16_27</string>
		</array>
	</array>
</plist>
