<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
  </dict>
</plist>
