<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C041F9A1-8268-4C82-8BA1-3C04C1272B64</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
