<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C9D34AE2-2F48-44D6-9E3A-72B0149EC596</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
