<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>C</key>
		<string>C_.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Pe-cy</key>
		<string>P_e-cy.glif</string>
		<key>Sha-cy</key>
		<string>S_ha-cy.glif</string>
		<key>Shcha-cy</key>
		<string>S_hcha-cy.glif</string>
		<key>Tse-cy</key>
		<string>T_se-cy.glif</string>
		<key>acutecomb_dotaccentcomb</key>
		<string>acutecomb_dotaccentcomb.glif</string>
		<key>caroncomb_dotaccentcomb</key>
		<string>caroncomb_dotaccentcomb.glif</string>
		<key>dieresiscomb_acutecomb</key>
		<string>dieresiscomb_acutecomb.glif</string>
		<key>dieresiscomb_caroncomb</key>
		<string>dieresiscomb_caroncomb.glif</string>
		<key>dieresiscomb_gravecomb</key>
		<string>dieresiscomb_gravecomb.glif</string>
		<key>dieresiscomb_macroncomb</key>
		<string>dieresiscomb_macroncomb.glif</string>
		<key>macroncomb_acutecomb</key>
		<string>macroncomb_acutecomb.glif</string>
		<key>macroncomb_gravecomb</key>
		<string>macroncomb_gravecomb.glif</string>
		<key>tildecomb_acutecomb</key>
		<string>tildecomb_acutecomb.glif</string>
		<key>tildecomb_dieresiscomb</key>
		<string>tildecomb_dieresiscomb.glif</string>
		<key>tildecomb_macroncomb</key>
		<string>tildecomb_macroncomb.glif</string>
	</dict>
</plist>
