<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A9DA48A1-3ECC-41ED-A4D4-0F6B1AB2FF56</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
